/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://rsms.me/inter/inter-ui.css');

* {
  /* box-sizing: border-box; */
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: 'Inter UI', serif;
}

#index-img {
  width: 100%;
  display: block;
  float: left;
  min-width: 1130px;
  max-width: 1390px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

h1 {
  display: inline-block;
  color: red;
  text-shadow:
    -1px -1px 0 #000,
  	1px -1px 0 #000,
  	-1px 1px 0 #000,
  	1px 1px 0 #000;
  font-size: 50px;
  position: fixed;
  z-index: 1;
  top: 25px;
  left: 37px;
  margin: 0;
}

button {
  float: right;
  position: absolute;
  top: 50px;
  font-size: 13px;
  border-radius: 8px;
  margin: 10px;
  border-color: black;
  padding: 5px;
}

button:hover {
  background-color: #515151;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
}

#login-btn {
  right: 140px;
}

#signup-btn {
  right: 64px;
}

p {
  display: inline-block;
  margin: 30px;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 10px;
}

nav ul {
  text-decoration: none;
}

nav li {
  color: #000;
  float: right;
  margin: 8px;
  list-style-type: none;
  margin-right: 16px;
  padding: 5px;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: red;
}
