.outfits-nav {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.all-outfits {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.all-outfit-margin {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 300px;
  margin-left: 28px;
  margin-top: 50px;
  outline: 1px solid red;
}

.select-clothes {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 50px;
}

.create-outfit-form {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 20px;
  padding-top: 25px;
}

.new-outfit-form label {
  color: #525252;
  font-size: 25px;
  margin-left: 20px;
}

.new-outfit-form input {
  padding: 3px;
  margin: 2px;
}

.new-outfit-form input[type=submit] {
  width: auto;
  margin-left: 8px;
}
