.outfits-nav {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.all-outfits {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.all-outfit-margin {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 325px;
  margin-left: 28px;
  margin-top: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 68px;
}

.index-all-outfits {
  height: 350px;
}

.index-all-outfits a:hover {
  color: #696969;
}

.all-outfit-margin h4 {
  font-size: 20px;
  margin: 15px 0;
}

.select-clothes {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 50px;
}

.create-outfit-form {
  border: 1px solid #000000;
  background-color: #c1c1c1bf;
  position: fixed;
  width: 367px;
  height: 46px;
  text-align: center;
  bottom: 5px;
  right: 12px;
}

.new-outfit-form label {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.new-outfit-form input {
  padding: 3px;
  margin: 2px;
  border: 1px solid #0000008c;
}

.new-outfit-form input[type=submit] {
  margin-left: 6px;
  font-weight: bold;
}

.top {
  position: fixed;
  z-index: 1;
  height: 15px;
  top: 665px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
}

.top a:hover {
  color: inherit;
}
